// .newProContainer{
//     display: grid;
//     float: right;
    
// }
button:hover {
    opacity: 0.89;
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(131, 131, 131, 0.89) !important;
}

textarea {
    // width: 30vw;
    height: 10vh;
}
.msg{
  font-family: "Urbanist";
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(122, 122, 122, 0.411);
  margin-top: 2%;
}


@media only screen and (max-width: 800px) {
    input, textarea {
      width: 100%;
    }
    mat-step-header{
        height: 80%;
        font-size: 10px;
    }
    .newProContainer {
        margin-top: -8% !important;
    }
    .form1{
      margin-top: 18%;
    }
    button {
        width: 1vw;
      }
      .stepper {
        font-size: 12px;
        transform: scale(0.89); 
        transform-origin: top left; 
      }
      .stepper mat-button {
        padding: 0 8px;
        margin-bottom: 30px !important;
      }
      .msg{
        margin-top: 10%;
        font-size: 1.3em;
      }
      .msg p {
        display: none !important;
      }
      .mat-form-field-type-mat-date-range-input{
        width: 100% !important;
      }
      .buttons{
        display: flex;
        margin-left: -6%;
      }

    
}