<div class="newProContainer">
    <mat-stepper headerPosition="top" *ngIf="!stepper" [linear]="true" [orientation]="stepperOrientation" #stepper class="stepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Crea un Proyecto</ng-template>
            <mat-form-field >
              <input matInput placeholder="Título" formControlName="firstCtrl" class="form1" required>
            </mat-form-field>
            <div>
              <button mat-button color="primary" matStepperNext>Hecho</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Descripción del proyecto</ng-template>
            <mat-form-field>
              <textarea matInput placeholder="Mi proyecto es sobre... " formControlName="secondCtrl" required></textarea>
            </mat-form-field>
            <div>
              <button mat-button class="txt" matStepperPrevious>Atrás</button>
              <button mat-button color="primary" matStepperNext  >Hecho</button>
            </div>
          </form>
        </mat-step>


        <mat-step [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Selecciona el rango de fechas</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Inicio - Fecha Fin</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="fechaInicio" placeholder="Fecha Inicio">
              <input matEndDate formControlName="fechaFin" placeholder="Fecha Fin">
            </mat-date-range-input>
            <mat-hint>Duración del proyecto</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="thirdFormGroup.controls.fechaInicio.hasError('matStartDateInvalid')">Fecha de inicio inválida</mat-error>
              <mat-error *ngIf="thirdFormGroup.controls.fechaFin.hasError('matEndDateInvalid')">Fecha de fin inválida</mat-error>
          </mat-form-field>
          <div class="buttons">
            <button mat-button matStepperPrevious type="button">Atrás</button>
            <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
            <button mat-raised-button matStepperNext color="primary" type="button" (click)="submit()">Crear</button>
          </div>
          <div class="msg" *ngIf="mostrarMensaje">
            <u><b>Proyecto creado</b></u> &nbsp;&nbsp;&nbsp;
            <p class="p"> Añade tareas desde la sección Proyectos.</p>
            </div>
        </mat-step>
      </mat-stepper>
    </div>