// .newProContainer{
//     display: grid;
//     float: right;
    
// }
button:hover {
    opacity: 0.89;
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(131, 131, 131, 0.89) !important;
}

textarea {
    // width: 30vw;
    height: 10vh;
}