<mat-card class="container" id="formNots" style="display: grid;">
    <div mat-grid-tile>
        <br>
        <br>
        <div class="form-container">
            <form action="" #form="ngForm" (ngSubmit)="enviar()">
                <h2 class="txt">Agregar nota</h2>
                <mat-form-field class="txt" appearance="fill">
                    <input matInput type="text" name="titulo" [(ngModel)]="nota.titulo" placeholder="Título" required>
                </mat-form-field>
                <br>
                <mat-form-field  class="txt" appearance="fill">
                    <textarea matInput name="note" id="note" [(ngModel)]="nota.descripcion" 
                        placeholder="Descripción" required></textarea>
                </mat-form-field>
                <br>
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Enviar</button>
            </form>
        </div>
    </div>
</mat-card>

