
#fecha{
    float: right;
    margin-right:10%;
    color: rgb(145, 145, 145);
  font-family: 'Urbanist';
}


.container{
  position: absolute;
  justify-content: right;
  margin: 2% 3% 0 10%;
  max-width: fit-content;
  height: 15vh;
}

.mat-selection{
  padding: 3%;
  border: 1px outset;
  border-radius: 1vw;
  box-shadow: 0px 0px 10px rgba(156, 156, 156, 0.748);
}
#p{
  font-size: 19px;
  font-weight:500;
  margin-top: auto;
  font-family: 'Urbanist';
}
span{
  font-size: 16px;
  font-weight: 50;
}

.nota-contenedor{
  margin-bottom: 3%;
  width: 140vh;
  cursor:pointer;

}

.divider{
  margin-top: 2%;
  margin-bottom: 2%;
}
  
  // .nota-contenedor {
  //   display:flex;
  //   flex-direction: column;
  //   width: 100%;
  //   // padding: 8px 16px;
  //   box-sizing: border-box;
  //   cursor: pointer;
  // }
  #fecha{
    display: flex;
  }
  
  mat-list-option {
    padding: 0;
    margin-bottom: 1.5%;
  }
  
  button{
    float: right;
    border-radius: 1vw;
    margin-bottom: 2% !important;
    margin-top: -1% !important;
  }
  button:hover{
    opacity: 0.8;
  }
  .container{
    max-width: 70%;
  }