.grid-container {
  margin: 10px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 1.5px 6px rgba(110, 110, 110, 0.748) !important;
}
.title{
  text-align: center !important;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.txt{
  text-align: center;
  margin-bottom: -0.1%;
}
@media only screen and (max-width: 800px){ 
  .project .grid-container {
  padding-bottom: 20% !important;
}
}