<div class="grid-container">
  <h1 class="txt">Bienvenid@... ¡Vamos a crear!</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container [ngSwitch]="card.component">
            <div *ngSwitchCase="'nproject'"><app-nproject></app-nproject></div>
            <div *ngSwitchCase="'listado-notas'"><app-listado-notas></app-listado-notas></div>
            <div *ngSwitchCase="'home-calendar'"><app-home-calendar></app-home-calendar></div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>



        <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu> -->