<app-theme></app-theme>
<app-menu></app-menu>

  <!-- Menu para mostrar y ocultar los proyectos en vista móvil -->
  <mat-toolbar *ngIf="isMobile">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Proyectos</span>
  </mat-toolbar>

  <!-- Drawer izquierdo proyectos existentes -->
  <mat-drawer-container class="drawer-container" >
    <mat-drawer #drawer mode="side" opened [style.width.vw]="isMobile ? 100 : 19" >
      <app-proyectos (proyectoSeleccionado)="proyectoSeleccionado($event)"></app-proyectos>
    </mat-drawer>

    <!-- Drawer derecho contenido Tareas -->
    <mat-drawer-content >
      <app-content *ngIf="proyectoSeleccionadoId" [proyectoId]="proyectoSeleccionadoId"></app-content>
    </mat-drawer-content>
  </mat-drawer-container>
        
