<app-theme></app-theme>
<app-menu></app-menu>


    <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened  [style.width.vw]="15">
        <mat-card>
        <p>Esto es una prueba</p>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <p>Esto es una prueba</p>
            </mat-card>
            <mat-divider></mat-divider>
            <mat-card>
                <p>Esto es una prueba</p>
                </mat-card>
                <mat-divider></mat-divider>
        

    </mat-drawer>


    <mat-drawer-content>
        <p>Esto es una prueba</p>
        <mat-divider></mat-divider>
        <p>Esto es una prueba</p>
        <mat-divider></mat-divider>
        <p>Esto es una prueba</p>


    </mat-drawer-content>
    </mat-drawer-container>
        
