// .mat-toolbar{
//     flex-direction: row-reverse;
// }

h1{
    margin-left: auto;
    font-family: 'Urbanist';
    font-size: 30px;
}
span{
    font-family: 'Urbanist';
    margin-top: 1.5%;
}
#logo{
    width: 3vw;
    margin: 10px 10px;
}