.mat-toolbar{
    margin: 0;
    width: auto !important;
    height: 8vh;
    overflow-y: hidden;
}
.panelClass{
    // display: grid;
}
h1{
    margin-left: auto;
    font-family: 'Urbanist';
    font-size: 35px;
    font-weight: bold;
}
span{
    font-family: 'Urbanist';
    margin-top: 1.5%;
}
#logo{
    width: 4vw;
    height: auto !important;
    margin: 10px 10px;
}
.mat-fab{
    border-radius: 10px;
    height: 6vh;
    width: 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1%;
    
}
.accent-menu{
    display: flex;
    flex-direction: column;
    margin: 5%;
}
#theme{
    font-family: 'Urbanist';
    font-size: 17px !important;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-right: 1.1% !important;
    text-shadow: 0px 2.1px 7px (rgba(123, 123, 123, 0.969));
}

#one {
    background-color: transparent;
    background-image: url("/assets/one.png");
    background-size:cover !important;
    background-position: center center;
    transform: scaleX(-1);
  }


  #one, #two, #three, #four{
    background-color: transparent;
    background-size: cover !important;
    background-position: center center;
    margin: 2%;
    float: center !important;

  }
  
  #two {
    background-image: url('/assets/two.png');
  }
  
  #three {
    background-image: url("/assets/three.png");
  }
  
  #four {
    background-image: url('/assets/four.png');
  }


@media only screen and (max-width: 720px){
    #logo {
        height: 8vh;
        width: 17vw;
        margin-right: 0;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 720px) {
    #title {
        display: absolute;
        margin-right: 4%;

    }
}
@media only screen and (max-width: 414px) {
    #title {
        display: absolute;

    }
}
@media only screen and (max-width: 390px) {
    #title {
        display: absolute;
        margin-right: 3%;

    }
}
@media only screen and (max-width: 393px) {
    #title {
        display: absolute;
        margin-right: 3%;

    }
}
@media only screen and (max-width: 360px) {
    #title {
        display: absolute;
        margin-left: 10%;

    }
}
@media only screen and (max-width: 320px) {
    #title {
        display: flex;
        margin-left: 5%;
    }
    #logo{
       height: 11vh;
       width: 20vw;
    }
    .mat-fab{
        height: 9vh;
    }
   
}

