<link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>

<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-toolbar" style="display:flex;">
        <button mat-raised-button color="accent" id="theme" [matMenuTriggerFor]="menu" [ngClass]="{'mat-fab': smallScreen}">
          Tema
        </button>
        <mat-menu #menu="matMenu" panelClass="accent-menu">
          <button mat-mini-fab id="one" (click)="cambioTema(lightClass)"><mat-icon class="iconLight">brightness_5</mat-icon></button><span class="txt">Deepurple&Amber</span>
          <mat-divider class="divider"></mat-divider>
          <button mat-mini-fab id="two" (click)="cambioTema(lightOneClass)"><mat-icon class="iconLight">brightness_5</mat-icon></button><span class="txt">BlueGray&Pink</span>
          <mat-divider class="divider"></mat-divider>
          <button mat-mini-fab id="three" (click)="cambioTema(darkClass)"><mat-icon class="iconDark">brightness_3</mat-icon></button><span class="txt">Pink&Blurgray</span>
          <mat-divider class="divider"></mat-divider>
          <button mat-mini-fab id="four" (click)="cambioTema(darkOneClass)"><mat-icon class="iconDark">brightness_3</mat-icon></button><span class="txt">Green&Purple</span>

        </mat-menu>
        <h1 id="title">SmartTime</h1>
          <img id="logo" src="/assets/sTime1.png" alt="logo"> <span *ngIf="!smallScreen">2024</span> 
      </mat-toolbar>
      
    </mat-sidenav-content>
  </mat-sidenav-container>