<link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>

<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-toolbar" style="display:flex;">
        <button mat-raised-button color="accent" [matMenuTriggerFor]="menu">
          Tema
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="cambioTema(lightClass)">Light Purple</button>
          <button mat-menu-item (click)="cambioTema(lightOneClass)">Light BlueGray</button>
          <button mat-menu-item (click)="cambioTema(darkClass)">Dark Pink</button>
          <button mat-menu-item (click)="cambioTema(darkOneClass)">Dark Purple</button>
        </mat-menu>
        <h1>SmartTime </h1>
          <img id="logo" src="/assets/sTime1.png" alt="logo"> <span>2024</span> 
      </mat-toolbar>
      
    </mat-sidenav-content>
  </mat-sidenav-container>