// #calendar {
//     --mat-calendar-header-height: 0;
//     --mat-calendar-arrow-size: 30px;
//   }
  
//   #calendar .mat-calendar-period-button {
//     position: static;
//     margin-top: 10px;
//   }
  
//   #calendar .mat-calendar-arrow {
//     position: static;
//     margin-top: 10px;
//     margin-left: 10px;
//   }
  
//   #calendar .mat-calendar-body-container {
//     margin-top: 10px;
//   }
  
.calen{
    width: 48vw;
    float: right;
    margin-top: -2.5%;
}