
.calen{
    width: 52vw;
    float: right;
    margin-top: -2.5%;
    
}
.calendar{
    font-size: 10vw !important;
}
.boxEventos{
    display: grid;
    width: 45vw;
    height: 90vh !important;
    margin-left: 1%;
   
}
.events{
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 7px;
    height: 11vh !important;
    box-shadow: 0px 0px 9px rgba(156, 156, 156, 0.748) !important;
}

#divider{
    margin-top: 0;
}
h2{
    display: flex;
    float: left;
    margin-left: 32%;
    font-size: 2vw;
}
.eventoSelect{
    display: flex ;
    float: right ;
}

.mat-card{
    margin-bottom: 1.5%;
    padding: 3.3%;
    padding-bottom: 4.5%;
    width: 40vw !important;
    margin-right: 4% !important;
    margin-left: 2%;
    border-radius: 1vw;
    box-shadow: 0px 0px 7px rgba(156, 156, 156, 0.748) !important;
}
.buttons{
   margin-bottom: 0;
}
#b1, #b2 {
    float:right;
    border-radius: 1vw;
    font-size: 20px;
    margin-bottom: 1% !important;
}
#b1:hover, #b2:hover {
    opacity: 0.7;
}
#b1{
    margin-left:1.5%;
}
// #b2{
//     float: right;
//     border-radius: 1vw;
// }
.footer{
    float: left;
    margin-bottom: 2%;
     margin-left: 0.3%;
}