
.calen{
    width: 52vw;
    float: right;
    margin-top: -2.5%;
    
}
.calendar{
    font-size: 10vw !important;
}
.boxEventos{
    display: grid;
    width: 45vw;
    height: 90vh !important;
    margin-left: 1%;
   
}
.events{
    display: flexbox !important;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 7px;
    height: 10.8vh !important;
    box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.748) !important;
}

#divider{
    margin-top: 0;
}

h2{
    margin-left: 35%;
    font-size: 2vw;
}

.addEvento{
    float: right !important; 
    font-size: 40px; 
    height:11vh; 
    width:6vw;
    box-shadow:-2px 0px 9px rgba(122, 122, 122, 0.748) !important;
}
.addEvento:hover{
    opacity: 0.8;
    transform: translateX(1.5px);
}

.mat-card{
    margin-bottom: 1.5%;
    padding: 3.3%;
    padding-bottom: 4.5%;
    width: 40vw !important;
    margin-right: 4% !important;
    margin-left: 2%;
    border-radius: 1vw;
    box-shadow: 0px 1px 6px rgba(110, 110, 110, 0.748) !important;
}
.buttons{
   margin-bottom: 0;
}

#b1, #b2 {
    float:right;
    border-radius: 12px;
    font-size: 20px;
 
}
button:hover {
    opacity: 0.8;
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(107, 107, 107, 0.89) !important;
}
#b1{
    margin-left:1.5%;
}

.footer{
    float: left;
    margin-bottom: 2%;
     margin-left: 0.3%;
}

@media only screen and (max-width: 800px){
    .dialogoCalendar{
        min-width: 600px !important;
    }
}

@media only screen and (max-width: 800px) {
    .calen {
        width: 100%;
        float: none;
        margin-top: 0;
    }

    .boxEventos {
        width: 100%;
        margin-left: 0;
        height: auto;
    }

    .events {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 1rem;
    }

    .addEvento {
        // width: 50vw;
        height: 100px !important;
        margin-left: auto;
        margin-top: -14% !important;
        font-size: 1.5rem;
    }

    #b1, #b2 {
        margin-top: -3%;
    }

    .mat-card {
        width: 70% !important;
        margin-left: 5%;
        margin-right: 5%;
        padding: 10%;
    }
    .footer{
        width: 90%;
        margin-left: -3% !important;
    }

    h2 {
        margin-left: 0;
        font-size: 1.5rem;
    }
}