<app-theme style="display: grid;" ></app-theme>
<app-menu></app-menu>

<div class="calen">
  <mat-calendar #calendar class="txt" [selected]="selectedDate" 
  (selectedChange)="fechaSelect($event)" (click)="getEventos()"></mat-calendar>
</div>

<div class="boxEventos" style="display:grid;">
 
  <div class="events"> 
    <button mat-raised-button color="accent" class="addEvento"(click)="abrirDialogo()">+</button>
  <h2 class="txt"> Mis Eventos</h2>

  <div class="eventoSelect">
    <!-- Si ahora quito este div estropea el diseño y no tengo tiempo de rehacerlo -->
  </div>
</div>

  <div *ngFor="let evento of selectedEvents" class="cards">
    <mat-card class="mat-card">
      <mat-card-title>{{ evento.titulo }}</mat-card-title>
      <mat-card-subtitle>Empieza el {{ formatoFecha( evento.fechaInicio) }}</mat-card-subtitle>
      <mat-card-content>{{ evento.descripcion }}</mat-card-content>

      <mat-card-actions class="buttons">
        <button mat-mini-fab color="warn" id="b1" (click)="borrarEvento(evento)">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0" width="25" height="25" viewBox="0,0,256,256">
            <g fill="#ffffff" fill-rule="nonzero" stroke="#000000" stroke-width="0.3" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(9.84615,9.84615)">
            <path d="M11,-0.03125c-0.83594,0 -1.65625,0.16406 -2.25,0.75c-0.59375,0.58594 -0.78125,1.41797 -0.78125,2.28125h-3.96875c-0.55078,0 -1,0.44922 -1,1h-1v2h22v-2h-1c0,-0.55078 -0.44922,-1 -1,-1h-3.96875c0,-0.86328 -0.1875,-1.69531 -0.78125,-2.28125c-0.59375,-0.58594 -1.41406,-0.75 -2.25,-0.75zM11,2.03125h4c0.54688,0 0.71875,0.12891 0.78125,0.1875c0.0625,0.05859 0.1875,0.22266 0.1875,0.78125h-5.9375c0,-0.55859 0.125,-0.72266 0.1875,-0.78125c0.0625,-0.05859 0.23438,-0.1875 0.78125,-0.1875zM4,7v16c0,1.65234 1.34766,3 3,3h12c1.65234,0 3,-1.34766 3,-3v-16zM8,10h2v12h-2zM12,10h2v12h-2zM16,10h2v12h-2z"></path></g></g>
          </svg>
      </button>&nbsp;

        <button mat-mini-fab color="accent" id="b2" (click)="modificarEvento(evento)">
          <svg version="1.1" id="Capa_1" stroke="#000000" stroke-width="7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
           width="22" height="22" x="0px" y="0px" viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve"><g><g><g><polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 " fill="#000000" style="fill: rgb(255, 255, 255);">
           </polygon><path  d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04 C386.027,77.92,386.027,64.373,377.707,56.053z" fill="#000000" stroke="#000000" stroke-width="7" style="fill: rgb(255, 255, 255);">
          </path></g></g></g></svg>
        </button>

      </mat-card-actions>
      <mat-card-footer class="footer">Fecha Límite: {{ formatoFecha( evento.fechaFin) }}</mat-card-footer>
    </mat-card>
  </div>

</div>


