.cards {
    // width: 20%;
    margin: 0 37% 0 37%;
    padding: 2%;
    border-radius: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 3%;
    opacity: 100;
}
button:hover{
    opacity: 0.7;
}
.fondo {
    background-image: url("https://images.unsplash.com/photo-1664575602276-acd073f104c1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 75%;
    padding-top: 10%;
}