<div class="newTareaContainer">
    <mat-vertical-stepper headerPosition="top" [linear]="true" #stepper>
      
      <!-- Información Tarea -->
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Información de la Tarea</ng-template>
          <mat-form-field>
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion"></textarea>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext color="primary">Hecho</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Prioridad -->
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Prioridad</ng-template>
          <mat-form-field>
            <mat-label>Prioridad</mat-label>
            <mat-select formControlName="prioridad">
              <mat-option value="0">Ninguna</mat-option>
              <mat-option value="3">Baja</mat-option>
              <mat-option value="2">Media</mat-option>
              <mat-option value="1">Alta</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext color="primary">Hecho</button>
          </div>
        </form>
      </mat-step>
      
      <!-- Fecha de Vencimiento -->
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Fecha de Vencimiento</ng-template>
          <mat-form-field>
            <mat-label>Fecha de Vencimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaVencimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-raised-button color="primary" matStepperNext (click)="crearTarea()">Guardar</button>
          </div>
        </form>
      </mat-step>
      
      
    </mat-vertical-stepper>
  </div>
  