
<nav mat-tab-nav-bar class="mat-tab" [backgroundColor]="" [tabPanel]="tabPanel">
    <a mat-tab-link routerLink="/home" routerLinkActive #homeLink="routerLinkActive" 
      [active]="homeLink.isActive">Home</a>
      <a mat-tab-link routerLink="/proyectos" routerLinkActive #proyectosLink="routerLinkActive" 
      [active]="proyectosLink.isActive">Proyectos</a>
    <a mat-tab-link routerLink="/notas" routerLinkActive #notasLink="routerLinkActive" 
      [active]="notasLink.isActive">Notas</a>
    <a mat-tab-link routerLink="/calendar" routerLinkActive #calendarLink="routerLinkActive" 
      [active]="calendarLink.isActive">Calendario</a>
      <!-- <button mat-mini-fab style="margin-top: 3px; right: 0 !important;" >?</button> -->
  </nav>
  <mat-tab-nav-panel #tabPanel>¿?</mat-tab-nav-panel>
  
  
  
